html,
body,
header,
main,
footer {
  margin: 0 !important;
  padding: 0 !important;
}
.font-sans {
  font-family: sans-serif, sans !important;
}
.bg-normal {
  background-color: #dbdbe3 !important;
}
.bg-master {
  background-color: #0d1117 !important;
}
.bg-tertiary {
  background-color: #161b22 !important;
}
.text-master {
  color: #241f31 !important;
}
