body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  text-align: center;
  font-family: sans-serif, sans;
}

header {
  margin: 3px;
}

main {
  margin: 0;
  padding: 0;
  background-color: #162d50;
}

footer {
  margin-top: 30px;
}

footer p {
  margin: 15px;
  font-size: 14px;
}
