body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  text-align: center;
  font-family: sans-serif, sans;
}

header {
  margin: 0;
  padding: 0;
  background-color: #0b0b0b;
}

main {
  margin: 0;
  padding: 0;
}

footer {
  margin-top: 30px;
}

footer p {
  margin: 15px;
  font-size: 14px;
}

h1,
h3 {
  color: #ffffff;
}

h3 {
  padding: 50px;
  margin: 0;
  width: 100%;
  font-weight: normal;
  font-size: 16px;
}

.profile {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 200px;
  height: 200px;
}

.bg-img-dot {
  background-image: url('/assets/images/backgrounds/dot.png') !important;
}

.bg-img-master {
  background-color: #3f4d67 !important;
  background-image: url('/assets/images/backgrounds/gadgets.jpg') !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.bg-master {
  background-color: #162D50 !important;
}

.anchor {
  display: none;
}

.opacity {
  opacity: 0.5 !important;
}

.opacity:hover,
.opacity:focus {
  opacity: 1 !important;
}

.text-hover:hover,
.text-hover:focus {
  color: #1a5fb4 !important;
}

@media (min-width: 576px) {
  .w-sm-100 {
    width: 100% !important;
  }

  .w-sm-75 {
    width: 75% !important;
  }

  .w-sm-50 {
    width: 50% !important;
  }

  .w-sm-25 {
    width: 25% !important;
  }

  .h-sm-100 {
    height: 100% !important;
  }

  .h-sm-75 {
    height: 75% !important;
  }

  .h-sm-50 {
    height: 50% !important;
  }

  .h-sm-25 {
    height: 25% !important;
  }
}

@media (min-width: 768px) {
  .w-md-100 {
    width: 100% !important;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .w-md-50 {
    width: 50% !important;
  }

  .w-md-25 {
    width: 25% !important;
  }

  .h-md-100 {
    height: 100% !important;
  }

  .h-md-75 {
    height: 75% !important;
  }

  .h-md-50 {
    height: 50% !important;
  }

  .h-md-25 {
    height: 25% !important;
  }
}

@media (min-width: 992px) {
  .w-lg-100 {
    width: 100% !important;
  }

  .w-lg-75 {
    width: 75% !important;
  }

  .w-lg-50 {
    width: 50% !important;
  }

  .w-lg-25 {
    width: 25% !important;
  }

  .h-lg-100 {
    height: 100% !important;
  }

  .h-lg-75 {
    height: 75% !important;
  }

  .h-lg-50 {
    height: 50% !important;
  }

  .h-lg-25 {
    height: 25% !important;
  }
}

@media (min-width: 1200px) {
  .w-xl-100 {
    width: 100% !important;
  }

  .w-xl-75 {
    width: 75% !important;
  }

  .w-xl-50 {
    width: 50% !important;
  }

  .w-xl-25 {
    width: 25% !important;
  }

  .h-xl-100 {
    height: 100% !important;
  }

  .h-xl-75 {
    height: 75% !important;
  }

  .h-xl-50 {
    height: 50% !important;
  }

  .h-xl-25 {
    height: 25% !important;
  }
}
